@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #ffffff;
  --secondary-color: #0000;
  --background-color: #f5f5f5;
  --accent-color: #373737;
  --text-color: #666666;
}

.dark {
  --primary-color: #383838;
  --secondary-color: #0000;
  --accent-color: #373737;
  --text-color: #c0c0c0;
  --background-color: #161616;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}